absl-py==1.4.0
aiohttp==3.8.3
aiosignal==1.3.1
alembic==1.9.1
astor==0.8.1
asttokens==2.2.1
async-timeout==4.0.2
attrs==22.2.0
autograd==1.5
autograd-gamma==0.5.0
autopage==0.5.1
backcall==0.2.0
blis==0.7.9
brotli==1.0.9
cachetools==5.2.1
catalogue==2.0.8
certifi==2022.12.7
charset-normalizer==2.1.1
click==8.1.3
cliff==4.1.0
cloudpickle==2.2.0
cmaes==0.9.1
cmd2==2.4.2
colorlog==6.7.0
comm==0.1.2
confection==0.0.4
contourpy==1.0.7
copulas==0.7.0
ctgan==0.5.2
cycler==0.11.0
cymem==2.0.7
debugpy==1.5.1
decaf-synthetic-data==0.1.5
decorator==5.1.1
deepecho==0.3.0.post1
diffprivlib==0.6.2
dython==0.7.2
entrypoints==0.4
executing==1.2.0
faker==14.2.1
fastai==2.7.10
fastcore==1.5.27
fastdownload==0.0.7
fastprogress==1.0.3
feather-format==0.4.1
fflows==0.0.3
fonttools==4.38.0
formulaic==0.5.2
frozenlist==1.3.3
fsspec==2022.11.0
functorch==1.13.1
future==0.18.3
geomloss==0.2.5
google-auth==2.16.0
google-auth-oauthlib==0.4.6
graphlib-backport==1.0.3
greenlet==2.0.1
grpcio==1.51.1
h5py==3.7.0
idna==3.4
igraph==0.10.3
imbalanced-learn==0.10.1
importlib-metadata==4.13.0
importlib-resources==5.10.2
inflate64==0.3.1
interface-meta==1.3.0
ipykernel==6.19.2
ipython==8.8.0
jedi==0.18.2
jinja2==3.1.2
joblib==1.2.0
jupyter_client==7.4.8
jupyter_core==5.1.1
keopscore==2.1
kiwisolver==1.4.4
langcodes==3.3.0
lifelines==0.27.4
lightning-utilities==0.5.0
llvmlite==0.39.1
loguru==0.6.0
mako==1.2.4
markdown==3.4.1
markupsafe==2.1.1
matplotlib==3.6.3
matplotlib-inline==0.1.6
multidict==6.0.4
multivolumefile==0.2.3
murmurhash==1.0.9
nest-asyncio==1.5.6
networkx==2.8.8
nflows==0.14
numba==0.56.4
numpy==1.22.4
oauthlib==3.2.2
opacus==1.3.0
opt-einsum==3.3.0
optuna==3.0.5
packaging==21.3
pandas==1.5.2
parso==0.8.3
pathy==0.10.1
patsy==0.5.3
pbr==5.11.1
pexpect==4.8.0
pgmpy==0.1.21
pickleshare==0.7.5
pillow==9.4.0
pip==22.3.1
platformdirs==2.5.2
plotly==5.12.0
preshed==3.0.8
prettytable==3.6.0
prompt-toolkit==3.0.36
protobuf==3.20.1
psutil==5.9.4
ptyprocess==0.7.0
pure_eval==0.2.2
py7zr==0.20.2
pyarrow==10.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybcj==1.0.1
pybind11==2.10.3
pycox==0.2.3
pycryptodomex==3.16.0
pydantic==1.10.4
pygments==2.14.0
pykeops==2.1
pyparsing==3.0.9
pyperclip==1.8.2
pyppmd==1.0.0
python-dateutil==2.8.2
pytorch-lightning==1.8.6
pyts==0.12.0
pytz==2022.7
pyyaml==5.4.1
pyzmq==23.2.0
pyzstd==0.15.3
rdt==1.2.1
redis==4.4.2
requests==2.28.2
requests-oauthlib==1.3.1
rsa==4.9
scikit-learn==1.1.3
scikit-plot==0.3.7
scipy==1.7.3
sdmetrics==0.8.1
sdv==0.17.2
seaborn==0.12.2
setuptools==65.7.0
setuptools-scm==7.1.0
six==1.16.0
smart-open==6.3.0
spacy==3.4.4
spacy-legacy==3.0.11
spacy-loggers==1.0.4
sqlalchemy==1.4.46
srsly==2.4.5
stack-data==0.6.2
statsmodels==0.13.5
stevedore==4.1.1
synthcity==0.0.3
tenacity==8.1.0
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardx==2.5.1
texttable==1.6.7
thinc==8.1.7
threadpoolctl==3.1.0
tomli==2.0.1
torch==1.13.1
torchaudio==0.13.1
torchmetrics==0.11.0
torchtext==0.14.1
torchtuples==0.2.2
torchvision==0.14.1
tornado==6.2
tqdm==4.64.1
traitlets==5.8.1
tsai==0.3.4
typer==0.7.0
typing-extensions==4.4.0
urllib3==1.26.14
wasabi==0.10.1
wcwidth==0.2.5
werkzeug==2.2.2
wheel==0.38.4
wrapt==1.14.1
xgboost==1.7.3
xgbse==0.2.3
yarl==1.8.2
zipp==3.11.0
